<div class="clearfix">
  <h1 class="pull-left">Tournaments</h1>

  <button class="btn btn-primary pull-left heading-button hidden"
      data-hook="tourney-add">
    <span class="glyphicon glyphicon-plus"></span>
    Add a tournament
  </button>
</div>

<section class="js-tourney-section"></section>
